.quizContainer {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

@media (max-width: 1080px) {
  .quizContainer {
    row-gap: 20px;
  }
}

@media (max-width: 750px) {
  .quizContainer {
    row-gap: 10px;
  }
}
