.flip-card {
  background-color: transparent;
  width: 1000px;
  height: 600px;
  perspective: 2000px;
  font-size: 130%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  /* text-align: center; */
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  border-radius: 5px;
  padding: 20px 14px;
  letter-spacing: 1.5px;
}

.flip-card-front {
  /* background-color: #f5f1f9; */
  /* color: black; */
  color: #f5f1f9;
  border: 2px solid #f5f1f9;
}

.flip-card-back {
  /* background-color: #f5f1f9; */
  /* color: black; */
  color: #f5f1f9;
  border: 2px solid #f5f1f9;
  transform: rotateX(180deg);
}

.flipped .flip-card-inner {
  transform: rotateX(180deg);
}

@media (max-width: 1080px) {
  .flip-card {
    width: 700px;
    height: 400px;
    font-size: 90%;
  }
}

@media (max-width: 750px) {
  .flip-card {
    width: 600px;
    height: 300px;
    font-size: 80%;
  }
}

@media (max-width: 640px) {
  .flip-card {
    width: 99dvw;
    height: 70dvh;
  }

  .flip-card-back,
  .flip-card-front {
    letter-spacing: 0.5px;
  }
}
