/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

html {
  scroll-behavior: auto;
  height: 100%;
  max-width: 100dvw;
  cursor: default;
}

button {
  cursor: pointer;
  font: inherit;
  border-radius: 40px;
  border: none;
  padding: 15px;
  /* background-image: linear-gradient(
    to right bottom,
    #73edff,
    #5ad6e1,
    #41bfc4,
    #27a8a7,
    #01928b
  ); */
  color: white;
}

body {
  /* font: 15px "Poppins", Helvetica, Arial, sans-serif; */
  font-weight: 400;
  line-height: 1.5;
  /* background: var(--background-color); */
  /* color: var(--black); */
  /* position: relative; */
  height: 100%;
  /* z-index: 1; */
  overflow-x: hidden;
  font-family: "Red Hat Display", sans-serif;
  font-size: 32px;
  background-image: linear-gradient(
    to left,
    #ebf98d,
    #f1f791,
    #f6f696,
    #fbf49b,
    #fff3a0
  );
}

/* BASE STYLES */
.app-container {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}
