/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

html {
  scroll-behavior: auto;
  height: 100%;
  max-width: 100dvw;
  cursor: default;
}

button {
  cursor: pointer;
  font: inherit;
  border-radius: 10px;
  border: none;
  padding: 10px;
  color: #f5f1f9;
  background: none;
  border: 2px solid #f5f1f9;
  transition: transform 0.2s ease-in-out;
  width: 200px;
  margin-top: 20px;
  margin-right: 20px;
}

button:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px rgba(0, 0, 0); /* Keep the same shadow on hover */
}

body {
  /* font: 15px "Poppins", Helvetica, Arial, sans-serif; */
  font-weight: 400;
  line-height: 1.5;
  /* background: var(--background-color); */
  /* color: var(--black); */
  /* position: relative; */
  height: 100%;
  /* z-index: 1; */
  overflow-x: hidden;
  font-family: "Red Hat Display", sans-serif;
  font-size: 32px;
  /* background-image: linear-gradient(
    to left,
    #ebf98d,
    #f1f791,
    #f6f696,
    #fbf49b,
    #fff3a0
  ); */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 29, 1) 35%
  );
}

/* BASE STYLES */
.app-container {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 750px) {
  input {
    height: 30px;
  }
}
